*.pyc
BUILD
checkpoint
try*
*.meta
*.index

cifar_input.py
convert_to_tfrecords*
debug_*
gcnet_main.py
gcnet_multi_gpu_eval_kitti.py
gcnet_multi_gpu_train.py
gcnet_test_kitti.py
image_processing_eval.py
resnet_*
stereo_input.py

